body
{
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#caja_perfiles
{
    background: white;
    text-align: center;
    width: 500px;
    height: 600px;
    padding: 10px;
}

#perfiles
{
    background: grey;
    margin-top: 20px;
    padding: 10px;
}

.foto_perfil
{
    width: 100px;
    height: 100px;
}

.flechas
{
    width: 50px;
    height: 50px;
}
